<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/morris.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.0/js/bootstrap.js"></script>

    <script type="text/javascript" src="webjars/sockjs-client/1.0.2/sockjs.js"></script>
    <script type="text/javascript" src="webjars/stomp-websocket/2.3.3/stomp.js"></script>

    <script type="text/javascript" src="webjars/raphaeljs/2.1.4/raphael.js"></script>
    <script type="text/javascript" th:src="@{/js/morris.js}"></script>

    <script type="text/javascript" th:src="@{/js/CyclicArray.js}"></script>
    <script type="text/javascript" th:src="@{/js/EquipmentModel.js}"></script>
    <script type="text/javascript" th:src="@{/js/TemperatureModel.js}"></script>
    <script type="text/javascript" th:src="@{/js/PushClient.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>

<p th:inline="text">
    You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>
    (<a href="/logout">logout</a>)
</p>

<div id="koviiv" class="container" style="height: 400px;">
</div>

<div id="koviiv1" class="container" style="height: 400px;">
</div>

</body>
</html>