<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/morris.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.0/js/bootstrap.js"></script>

    <script type="text/javascript" src="webjars/sockjs-client/1.0.2/sockjs.js"></script>
    <script type="text/javascript" src="webjars/stomp-websocket/2.3.3/stomp.js"></script>

    <script type="text/javascript" src="webjars/raphaeljs/2.1.4/raphael.js"></script>
    <script type="text/javascript" th:src="@{/js/morris.js}"></script>

    <script type="text/javascript" th:src="@{/js/CyclicArray.js}"></script>
    <script type="text/javascript" th:src="@{/js/EquipmentModel.js}"></script>
    <script type="text/javascript" th:src="@{/js/TemperatureModel.js}"></script>
    <script type="text/javascript" th:src="@{/js/PushClient.js}"></script>
</head>
<body>

<!--<p th:inline="text">-->
    <!--You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>-->
    <!--(<a href="/logout">logout</a>)-->
<!--</p>-->

<div class="container">
    <div>
        <h1>Equipments</h1>
        <table id="equipment" class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>ONLINE</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Alert</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div>
        <h1>Rele Status</h1>
        <table id="rele" class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Power</th>
                <th>Condition</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div>
        <h1>Condition</h1>
        <div>
            <h3>Available variables</h3>
            <div>equipments, reles -> maps</div>
            <div>equipments.get('a'):</div>
            <div>equipment.getName() -> String</div>
            <div>equipment.getTemperature() -> Float</div>
            <div>equipment.getOnline() -> Boolean</div>
            <div>equipment.getHumidity() -> Float</div>
            <div>reles.get('a'):</div>
            <div>rele.getName() -> String</div>
            <div>rele.getPower() -> Boolean</div>
            <div>result = true -> return variable</div>
            <div>force = false -> return variable</div>
        </div>
        <table id="condition" class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Condition</th>
                <th>Manual Control</th>
                <th>Manual Power Value</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div>
        <h1>Alerts</h1>
        <div>
            <h3>Available variables</h3>
            <div>equipment.getName() -> String</div>
            <div>equipment.getTemperature() -> Float</div>
            <div>equipment.getOnline() -> Boolean</div>
            <div>equipment.getHumidity() -> Float</div>
            <div>result.add('Alert message') -> return variable</div>
            <div>Example:</div>
            <div>
                if (equipment.getTemperature() > 70) {
                   result.add(equipment.getName() + ": Temperature is too HIGH > 70");
                }

                if (equipment.getTemperature() < 15) {
                    result.add(equipment.getName() + ": Temperature is too LOW < 15");
                }

                if (equipment.getHumidity() > 70) {
                    result.add(equipment.getName() + ": Humidity is too HIGH > 70");
                }

                if (!equipment.getOnline()) {
                    result.add(equipment.getName() + " is OFFLINE");
                }
                shutdown = false;
            </div>
        </div>
        <table id="alert" class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Condition</th>
                <th>Active</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <div>
        <h1>Realtime Temperature</h1>
        <div id="rt_chart" class="container" style="height: 400px;">
    </div>

    </div>

    <div>
        <h1>Snapshot Temperature</h1>
        <div id="delay_chart" class="container" style="height: 400px;">
    </div>

    </div>
</div>

<script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>